  <div id='login'>

    <%= form_for  @user_session, :as => :user_session,
                  :url => user_sessions_path(@user_session),
                  :html => {:class => 'well'} do |form| %>
      <legend> Sign In</legend>

      <div class="control-group" >
<%=form.label :email, 'Email', :class =>'control-label' %>

<div class="controls">
<%= form.email_field :email, :autocomplete => 'off', :autocapitalize => 'off' %>
</div>
</div>

<div class="control-group">
<%=form.label :password, 'Password', :class =>'control-label' %>

<div class="controls">
<%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off'%>
</div>


</div>

    <% end %>
  </div>


