  <div id='login'>

    <%= form_for  @user_session, :as => :user_session,
                  :url => user_sessions_path(@user_session),
                  :html => {:class => 'well'} do |form| %>
      <legend> Sign In</legend>
      <fieldset>
         <ul id='login_form well'>

              <li>
                  <%=form.label :email, 'Email' %>
                  <%= form.email_field :email, :autocomplete => 'off', :autocapitalize => 'off' %>
              </li>

              <li>
                  <%=form.label :password, 'Password' %>
                  <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off' %>
              </li>

         </ol>

        <%= form.submit "Log In", :class => 'button' %>

      </fieldset>
    <% end %>
  </div>